# Ignore Python cache and virtual environments
__pycache__/
*.pyc
.venv/
env/
venv/

# Ignore Jupyter notebooks and logs
*.ipynb
*.log

# Ignore local data, test outputs, and artifacts
data/
datasets/
notebooks/
tests/
artifacts/
*.csv
*.jsonl
*.zip
*.tar.gz

# Ignore runs except for model checkpoints you need
runs/*
!runs/frcnn_polyp/
!runs/yolo/

# Ignore Git and editor files
.git
.gitignore
.DS_Store
.vscode/
.idea/

# Ignore temporary files
*.tmp
*.bak
